<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Try_to_hook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Try_to_hook.Properties.Settings>
            <setting name="Text_filepath" serializeAs="String">
                <value>Log\Log.txt</value>
            </setting>
            <setting name="Image_filepath" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="File_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto_save_image" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hide_on_tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Image_extention" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="Text_Folder" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="Always_on_display" serializeAs="String">
                <value>False</value>
            </setting>
        </Try_to_hook.Properties.Settings>
    </userSettings>
</configuration>